#dForm {
    display: flex;
    justify-content: center;
}
#formCadastro {
    color: white;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 500;
    label {
        font-size: 1.15em;
    }
    input {
        background-color: rgb(30, 30, 30);
        color: white;
        border: none;
        border: 1px solid rgb(50, 50, 50);
        border-radius: 5px;
        height: 1.95em;
        width: 23em;
        padding-left: 10px;
        text-align: left;
        font-weight: 500;
        font-size: 0.95em;
        outline: none;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        letter-spacing: 1px;
    }
    input:focus {
        border: 1px solid rgb(28, 54, 100);
    }
}

.btn-cadastrar:hover, .btn-cadastrar:focus {
    background-color: rgb(36, 71, 36);
}

/* chatgpt resolvendo o problema de estilos padrões para autopreenchimento de campos. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: rgb(30, 30, 30) !important;
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(30, 30, 30) inset !important;
    -webkit-text-fill-color: white !important;
}
